/** @format */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {

  margin: 0px -15px;
}

.mainHeading {
  background-color: rgb(50, 50, 50);
  color: white;
  text-align: center;
  padding: 5px 0px 5px 0px;
  width: 100%;
}

.headingRow {
  padding: 0px;
}

#colSearch {
  background-color: rgb(250, 250, 250);
}

#colSearch, #colResults {
  padding: 0px 0px 0px 15px;
}

.btnAside {
  background-color: DodgerBlue;
  color: white;
  height: 30px;
  width: 40px;
  padding: 2px 12px;
  vertical-align: top;
}

.cityList ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 5px;
}

.cityList li {
  background-color: white;
  border: lightgrey solid 1px;
  height: 2.5em;
  padding-left: 10px;
  line-height: 2.5em;
  width: 100%;
}

.current {
  border: lightgrey solid 1px;
  padding: 10px;
}

.forecast {
  padding: 10px;
}

.dayHeader {
  width: 100%;
  height: 55px;
  padding-bottom: 5px;
}

.dayHeader img {
  float: left;
}

.dayHeader h4 {
  float: left;
  margin: 0px;
  height: 50px;
  line-height: 50px;
}

.flex-grid {
  display: flex;
  /* flex-wrap: nowrap; */
  background-color: white;
}

.flex-grid div {
  background-color: DodgerBlue;
  /* width: 20%; */
  flex: 1;
  margin: 5px 10px 0px 0px;
  padding: 5px;
  text-align: left;
  font-size: 16px;
  color: white;
}

/*  ********************* uv ranges ********************* */
#spanUV {
  display: inline-block;
  width: 5em;
  text-align: center;
  height: 30px;
  line-height: 30px;
}

.low {
  background-color: green;
  color: white;
}

.moderate {
  background-color: yellow;
  color: black;
}

.high {
  background-color: orange;
  color: black;
}

.veryhigh {
  background-color: red;
  color: white;
}

.extreme {
  background-color: violet;
  color: white;
}

/*  ********************* media queries ********************* */
@media (max-width: 690px) {
  h1,
  h2 {
    font-size: 1.6rem;
  }

  .container {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
  }

  .row {
    margin: 0px;
    padding: 5px 5px;
    width: 100%;
  }

  .searchResults, .searchArea {
    width: 100%;
  }

  #colSearch, #colResults {
    padding: 0px;
  }

  .current {
    padding: 5px;
    width: 100%;
  }

  .row {
    padding-top: 5px;
    width: 100%;
  }

  .forecast {
    padding: 5px;
  }

  .flex-grid {
    display: block;
    width: 100%;
  }

  .flex-grid div {
    margin: 10px 5px 0px 0px;
  }      
}
